<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  style="background-color:#778f51;">
  <ion-grid  >
    <ion-row>
      <ion-col routerLink="tabs/tab1" style="background-color: #0fa2a9;">
        <ion-card style="display: flex;align-items:center">
          <img src="../assets/farmer.png"> 
        </ion-card>
      </ion-col>
      <ion-col routerLink="tabs/tab1" style="background-color: #089b28"> 
        <ion-card style="display: flex;align-items:center">
          <img src="../assets/volunteer.png">
        </ion-card>
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
