<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="invernadero">
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>1</ion-col>
        <ion-col>2</ion-col>
        <ion-col>3</ion-col>
        <ion-col>4</ion-col>
        <ion-col>5</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>1</ion-col>
          <ion-col>2</ion-col>
          <ion-col>3</ion-col>
          <ion-col>4</ion-col>
          <ion-col>5</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>1</ion-col>
            <ion-col>2</ion-col>
            <ion-col>3</ion-col>
            <ion-col>4</ion-col>
            <ion-col>5</ion-col>
          </ion-row>
          <ion-row>
              <ion-col>1</ion-col>
              <ion-col>2</ion-col>
              <ion-col>3</ion-col>
              <ion-col>4</ion-col>
              <ion-col>5</ion-col>
            </ion-row>


          </ion-grid>

          <ion-grid>
  <ion-row position="bottom">
    <ion-col>tomate</ion-col>
    <ion-col>manzana</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>pera</ion-col>
    <ion-col>lechuga</ion-col>
  </ion-row>
  </ion-grid>


</ion-content>
