<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="invernadero">
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>1</ion-col>
        <ion-col>2</ion-col>
        <ion-col>3</ion-col>
        <ion-col>4</ion-col>
        <ion-col>5</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>1</ion-col>
          <ion-col>2</ion-col>
          <ion-col>3</ion-col>
          <ion-col>4</ion-col>
          <ion-col>5</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>1</ion-col>
            <ion-col>2</ion-col>
            <ion-col>3</ion-col>
            <ion-col>4</ion-col>
            <ion-col>5</ion-col>
          </ion-row>
          <ion-row>
              <ion-col>1</ion-col>
              <ion-col>2</ion-col>
              <ion-col>3</ion-col>
              <ion-col>4</ion-col>
              <ion-col>5</ion-col>
            </ion-row>


          </ion-grid>

 <ion-grid>
   <ion-row>
     <ion-col>
       <ion-reorder>
         <ion-item>
           <ion-label>
             Manzana
           </ion-label>
         </ion-item>
       </ion-reorder>
     </ion-col>
     <ion-col>
      <ion-reorder>
        <ion-item>
          <ion-label>
            Pera
          </ion-label>
        </ion-item>
      </ion-reorder>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-col>
      <ion-reorder>
        <ion-item>
          <ion-label>
            Fresa
          </ion-label>
        </ion-item>
      </ion-reorder>
     </ion-col>
     <ion-col>
        <ion-reorder>
            <ion-item>
              <ion-label>
                Durazno
              </ion-label>
            </ion-item>
          </ion-reorder>
     </ion-col>
   </ion-row>
 </ion-grid>


</ion-content>
