<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-grid class="invernadero" dragula="DRAGULA">
    <ion-row>
        <ion-col dragula="DRAGULA">1</ion-col>
        <ion-col dragula="DRAGULA">2</ion-col>
        <ion-col dragula="DRAGULA">3</ion-col>
        <ion-col dragula="DRAGULA">4</ion-col>
        <ion-col dragula="DRAGULA">5</ion-col>
    </ion-row>
    <ion-row>
        <ion-col dragula="DRAGULA">1</ion-col>
            <ion-col dragula="DRAGULA">2</ion-col>
            <ion-col dragula="DRAGULA">3</ion-col>
            <ion-col dragula="DRAGULA">4</ion-col>
            <ion-col dragula="DRAGULA">5</ion-col>
      </ion-row>
      <ion-row>
          <ion-col dragula="DRAGULA">1</ion-col>
            <ion-col dragula="DRAGULA">2</ion-col>
            <ion-col dragula="DRAGULA">3</ion-col>
            <ion-col dragula="DRAGULA">4</ion-col>
            <ion-col dragula="DRAGULA">5</ion-col>
        </ion-row>
        <ion-row>
            <ion-col dragula="DRAGULA">1</ion-col>
            <ion-col dragula="DRAGULA">2</ion-col>
            <ion-col dragula="DRAGULA">3</ion-col>
            <ion-col dragula="DRAGULA">4</ion-col>
            <ion-col dragula="DRAGULA">5</ion-col>
          </ion-row>


          </ion-grid>
        </div>
<div>
  <ion-grid>
    <ion-row align-items-center>
      <div dragula="DRAGULA">
        <ion-col *ngFor="let item of frutas" size="6">
          
          <img [src]="item.src"/>
        </ion-col>
      </div>
    </ion-row>
    <ion-row align-items-center>
      <div dragula="DRAGULA">
        <ion-col *ngFor="let item of verduras" size="6">
          <img [src]="item.src"/>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
